nodered/flows.json
[
    {
        "id": "4528c99bd34fe9cd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73e4e13db3ccbdd1",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4452056721c1aa62",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7134fe503caadd62",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d760982cc0279bb5",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0080ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#0000ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0080ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0080ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4da6ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0080ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Mällona Mõis",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "115aa13d14c8a2fe",
        "type": "ui_tab",
        "name": "Kuivati",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b1576e9876622bb",
        "type": "ui_group",
        "name": "Õhu temperatuurid",
        "tab": "115aa13d14c8a2fe",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63f8550c7ccd0388",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.4.110",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "625b5b0878dda344",
        "type": "ui_group",
        "name": "Juhtimine",
        "tab": "115aa13d14c8a2fe",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10eab3ea8f664659",
        "type": "ui_group",
        "name": "Andurid",
        "tab": "115aa13d14c8a2fe",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a745e6b.07df92",
        "type": "ui_group",
        "name": "Default",
        "tab": "e63bce2d.68925",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e63bce2d.68925",
        "type": "ui_tab",
        "name": "Denon",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "227895666e818d00",
        "type": "ui_group",
        "name": "Viljatemperatuurid",
        "tab": "115aa13d14c8a2fe",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eabb81a539adb706",
        "type": "ui_gauge",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "1b1576e9876622bb",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Temp sisse 1 ",
        "label": "Kraadi C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 560,
        "wires": []
    },
    {
        "id": "e00e0e7f5f3c24af",
        "type": "ui_chart",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "1b1576e9876622bb",
        "order": 4,
        "width": "7",
        "height": 5,
        "label": "Õhu temps",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1c4839122862f9a0",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "temp1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "eabb81a539adb706",
                "e00e0e7f5f3c24af",
                "924d2ffef9b3e549"
            ]
        ]
    },
    {
        "id": "38f9798bf24b2de5",
        "type": "ui_gauge",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "1b1576e9876622bb",
        "order": 2,
        "width": "3",
        "height": 2,
        "gtype": "gage",
        "title": "Temp välja 2",
        "label": "Kraadi C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 620,
        "wires": []
    },
    {
        "id": "4aba676e801baae6",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "temp2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "38f9798bf24b2de5",
                "e00e0e7f5f3c24af",
                "e1d2df40583e4275"
            ]
        ]
    },
    {
        "id": "14b3c286bae4f541",
        "type": "ui_gauge",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "1b1576e9876622bb",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Välitemp 3",
        "label": "Kraadi C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 680,
        "wires": []
    },
    {
        "id": "8b431167f9fb3a32",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "temp3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "14b3c286bae4f541",
                "e00e0e7f5f3c24af",
                "77c6236b9db53bf4",
                "52330856bfc63815"
            ]
        ]
    },
    {
        "id": "611fff0a516f13db",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1340,
        "wires": []
    },
    {
        "id": "23129b87c09e8f32",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "2430fe78cee15551",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1440,
        "wires": []
    },
    {
        "id": "8cd2b6fdab5bc7e9",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "10eab3ea8f664659",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "update",
        "payloadType": "str",
        "topic": "update",
        "topicType": "msg",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "ba15739888f368e7"
            ]
        ]
    },
    {
        "id": "6f3243a6792be23e",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "update",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "ba8b568a3011709d",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor1_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1320,
        "wires": [
            [
                "a3f58abca1b2d701"
            ]
        ]
    },
    {
        "id": "77c6236b9db53bf4",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "1b1576e9876622bb",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Väli temperatuur",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "3e5fb75f485c9c02",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1340,
        "wires": [
            [
                "46134ce03ae720a9"
            ]
        ]
    },
    {
        "id": "afb67d8692ad3f3e",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1440,
        "wires": [
            [
                "2a18c8bb1dbd6004"
            ]
        ]
    },
    {
        "id": "a5f33ac7dc35d8a4",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "pistate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "d940c547a4c81f59",
                "c0ec273af581ca48"
            ]
        ]
    },
    {
        "id": "c0ec273af581ca48",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "1b1576e9876622bb",
        "order": 6,
        "width": "7",
        "height": 1,
        "name": "",
        "label": "Pi staatus: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec30153d09ae0172",
        "type": "inject",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "check1",
        "payload": "status",
        "payloadType": "str",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "85f379566a70bcd0"
            ]
        ]
    },
    {
        "id": "85f379566a70bcd0",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "check1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "d940c547a4c81f59",
        "type": "trigger",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "op1": "Online",
        "op2": "Offline",
        "op1type": "str",
        "op2type": "str",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "c0ec273af581ca48"
            ]
        ]
    },
    {
        "id": "03dd215a5c4f15ed",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor2_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "fabed99acdd0de22"
            ]
        ]
    },
    {
        "id": "7bb307b448d126c4",
        "type": "e-mail",
        "z": "4528c99bd34fe9cd",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "u.schults@gmail.com",
        "dname": "",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "cd13f59584c8018b",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "email",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1050,
        "y": 300,
        "wires": [
            [
                "7bb307b448d126c4"
            ]
        ]
    },
    {
        "id": "53033338b8081aa7",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "teade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "313231279ca4f168"
            ]
        ]
    },
    {
        "id": "313231279ca4f168",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1290,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "46134ce03ae720a9",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 3,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor1",
        "x": 1510,
        "y": 1340,
        "wires": []
    },
    {
        "id": "2a18c8bb1dbd6004",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 11,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor2",
        "x": 1510,
        "y": 1440,
        "wires": []
    },
    {
        "id": "56a3a42886db4272",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "debug",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "95edd53ab0c0e7a7",
                "b7a914b1bb85f969"
            ]
        ]
    },
    {
        "id": "95edd53ab0c0e7a7",
        "type": "debug",
        "z": "4528c99bd34fe9cd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "db36fabf662c3aba",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "motor1_on",
        "group": "625b5b0878dda344",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1300,
        "wires": [
            [
                "ac0ffaf1a06872d1"
            ]
        ]
    },
    {
        "id": "354ba4f4778a9ddf",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Elev 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 250,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a686d0482b9aecc3",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "motor1_off",
        "group": "625b5b0878dda344",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "611fff0a516f13db"
            ]
        ]
    },
    {
        "id": "a3f58abca1b2d701",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "db36fabf662c3aba"
            ],
            [
                "a686d0482b9aecc3"
            ]
        ]
    },
    {
        "id": "644aa3f0e98d21ee",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor2_on",
        "group": "625b5b0878dda344",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "e68e9e89872b91c6"
            ]
        ]
    },
    {
        "id": "a9b756eda16c4bfc",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor2_off",
        "group": "625b5b0878dda344",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1440,
        "wires": [
            [
                "2430fe78cee15551"
            ]
        ]
    },
    {
        "id": "fabed99acdd0de22",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "644aa3f0e98d21ee"
            ],
            [
                "a9b756eda16c4bfc"
            ]
        ]
    },
    {
        "id": "74d0cd0936865b2f",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Toiteseade",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 270,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ac0ffaf1a06872d1",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Elevaator1",
        "x": 650,
        "y": 1300,
        "wires": [
            [
                "d627b9fb2db9a4d8"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "e68e9e89872b91c6",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator2",
        "name": "Elevaator2",
        "x": 650,
        "y": 1400,
        "wires": [
            [
                "c9886dec1d7c5c9c"
            ]
        ]
    },
    {
        "id": "9e3680a5b5cc6dea",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1540,
        "wires": [
            [
                "4c7757c66dca3343"
            ]
        ]
    },
    {
        "id": "a4caec7a210ebc73",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1640,
        "wires": [
            [
                "91d9ec0e905fbc95"
            ]
        ]
    },
    {
        "id": "d627b9fb2db9a4d8",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 1",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1300,
        "wires": [
            [
                "611fff0a516f13db"
            ]
        ]
    },
    {
        "id": "c9886dec1d7c5c9c",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 2",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1400,
        "wires": [
            [
                "2430fe78cee15551"
            ]
        ]
    },
    {
        "id": "ba15739888f368e7",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Update",
        "name": "Update",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "3a4f39066a3c54f6"
            ]
        ]
    },
    {
        "id": "3a4f39066a3c54f6",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 3",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"update\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "6f3243a6792be23e"
            ]
        ]
    },
    {
        "id": "426567817e844789",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor3",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a59059cf1c8d7e05",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor3_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1520,
        "wires": [
            [
                "f5315671789d50e3"
            ]
        ]
    },
    {
        "id": "d8777cbb53be2c1f",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor3_on",
        "group": "625b5b0878dda344",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1500,
        "wires": [
            [
                "b1121450862d50b4"
            ]
        ]
    },
    {
        "id": "9985a42e08c4f717",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 9,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Eelpuhastus",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 270,
        "y": 1480,
        "wires": []
    },
    {
        "id": "7653687512b33465",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor3_off",
        "group": "625b5b0878dda344",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1540,
        "wires": [
            [
                "426567817e844789"
            ]
        ]
    },
    {
        "id": "f5315671789d50e3",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "d8777cbb53be2c1f"
            ],
            [
                "7653687512b33465"
            ]
        ]
    },
    {
        "id": "b1121450862d50b4",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 1500,
        "wires": [
            [
                "d1729a7312b8fffa"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "d1729a7312b8fffa",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 4",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1500,
        "wires": [
            [
                "426567817e844789"
            ]
        ]
    },
    {
        "id": "a434f9c7ddb83f7f",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1640,
        "wires": []
    },
    {
        "id": "98f957c90976388b",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor4_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1620,
        "wires": [
            [
                "e258d4b1f0373c47"
            ]
        ]
    },
    {
        "id": "cec548a557ffc583",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor4_on",
        "group": "625b5b0878dda344",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1600,
        "wires": [
            [
                "b15251c8f8f587be"
            ]
        ]
    },
    {
        "id": "5c51d2b5380f2ba5",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 13,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Põhjaimur",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 260,
        "y": 1580,
        "wires": []
    },
    {
        "id": "086316946252fbe0",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor4_off",
        "group": "625b5b0878dda344",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1640,
        "wires": [
            [
                "a434f9c7ddb83f7f"
            ]
        ]
    },
    {
        "id": "e258d4b1f0373c47",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1620,
        "wires": [
            [
                "cec548a557ffc583"
            ],
            [
                "086316946252fbe0"
            ]
        ]
    },
    {
        "id": "b15251c8f8f587be",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 1600,
        "wires": [
            [
                "b887705e1dcac7df"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "b887705e1dcac7df",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 5",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1600,
        "wires": [
            [
                "a434f9c7ddb83f7f"
            ]
        ]
    },
    {
        "id": "75028188c3490ed0",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor5",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1740,
        "wires": []
    },
    {
        "id": "c0dc6c4200131089",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor5_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1720,
        "wires": [
            [
                "1f0a1355473159dd"
            ]
        ]
    },
    {
        "id": "3f3309d6ff8944db",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor5_on",
        "group": "625b5b0878dda344",
        "order": 18,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1700,
        "wires": [
            [
                "51bdbf8573609b0e"
            ]
        ]
    },
    {
        "id": "55b808794a4cf5ce",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 17,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Põleti",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 250,
        "y": 1680,
        "wires": []
    },
    {
        "id": "15b035b56057a99b",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor5_off",
        "group": "625b5b0878dda344",
        "order": 20,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1740,
        "wires": [
            [
                "75028188c3490ed0"
            ]
        ]
    },
    {
        "id": "1f0a1355473159dd",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "3f3309d6ff8944db"
            ],
            [
                "15b035b56057a99b"
            ]
        ]
    },
    {
        "id": "51bdbf8573609b0e",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 1700,
        "wires": [
            [
                "c327c1645288e105"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "c327c1645288e105",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 6",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1700,
        "wires": [
            [
                "75028188c3490ed0"
            ]
        ]
    },
    {
        "id": "cc426e7568a6db35",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "10eab3ea8f664659",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "restart",
        "payloadType": "str",
        "topic": "restart",
        "topicType": "msg",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "1d42a5c4dfef08a3"
            ]
        ]
    },
    {
        "id": "c03deb20743b2e61",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "restart",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "1d42a5c4dfef08a3",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "restart",
        "name": "restart",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "d00ff0447f0039c3"
            ]
        ]
    },
    {
        "id": "d00ff0447f0039c3",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 7",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"restart\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "c03deb20743b2e61"
            ]
        ]
    },
    {
        "id": "a0f34ddc88348d9e",
        "type": "ui_gauge",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "227895666e818d00",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Vilja temp 4",
        "label": "Kraadi C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 860,
        "wires": []
    },
    {
        "id": "779cf0026b276470",
        "type": "ui_chart",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "227895666e818d00",
        "order": 4,
        "width": "7",
        "height": 5,
        "label": "Vilja temps",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "605b9533ce951fef",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "temp4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "a0f34ddc88348d9e",
                "779cf0026b276470",
                "c3ed45ad4f9e11d1"
            ]
        ]
    },
    {
        "id": "31eeba9b2f955564",
        "type": "ui_gauge",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "227895666e818d00",
        "order": 2,
        "width": "3",
        "height": 2,
        "gtype": "gage",
        "title": "VIlja temp 5",
        "label": "Kraadi C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 920,
        "wires": []
    },
    {
        "id": "a7b7dc1fcbbe5378",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "temp5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 920,
        "wires": [
            [
                "31eeba9b2f955564",
                "779cf0026b276470",
                "d6bf16e4eecf96b9"
            ]
        ]
    },
    {
        "id": "2309aeb3039137cc",
        "type": "ui_gauge",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "group": "227895666e818d00",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Vilja temp 6",
        "label": "Kraadi C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 980,
        "wires": []
    },
    {
        "id": "e97e5fb6a144ac35",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "temp6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 980,
        "wires": [
            [
                "2309aeb3039137cc",
                "779cf0026b276470",
                "1be5974d4d6442b9"
            ]
        ]
    },
    {
        "id": "4f303e886ab5d25f",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1740,
        "wires": [
            [
                "8a2ab4d9d4c09d34"
            ]
        ]
    },
    {
        "id": "c1b256487774e492",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1840,
        "wires": [
            [
                "5221c1df09131bca"
            ]
        ]
    },
    {
        "id": "8a2ab4d9d4c09d34",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 19,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor5",
        "x": 1510,
        "y": 1740,
        "wires": []
    },
    {
        "id": "5221c1df09131bca",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 23,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor6_elev3",
        "x": 1530,
        "y": 1840,
        "wires": []
    },
    {
        "id": "793752a4bd0b0cda",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 1940,
        "wires": [
            [
                "b596ceaf7869d1ec"
            ]
        ]
    },
    {
        "id": "b596ceaf7869d1ec",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 27,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor7",
        "x": 1510,
        "y": 1940,
        "wires": []
    },
    {
        "id": "5f2772a094a04e84",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor6",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b1b6cceabd61762b",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor6_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1820,
        "wires": [
            [
                "592ef8dca28014be"
            ]
        ]
    },
    {
        "id": "9b534121dd3853f0",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor6_on",
        "group": "625b5b0878dda344",
        "order": 22,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1800,
        "wires": [
            [
                "d23960e72b689a5e"
            ]
        ]
    },
    {
        "id": "a79edc33f71b64a0",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 25,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Elev 2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 250,
        "y": 1880,
        "wires": []
    },
    {
        "id": "cc0707d10ad34d58",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor6_off",
        "group": "625b5b0878dda344",
        "order": 24,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1840,
        "wires": [
            [
                "5f2772a094a04e84"
            ]
        ]
    },
    {
        "id": "592ef8dca28014be",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1820,
        "wires": [
            [
                "9b534121dd3853f0"
            ],
            [
                "cc0707d10ad34d58"
            ]
        ]
    },
    {
        "id": "d23960e72b689a5e",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 1800,
        "wires": [
            [
                "0e21c317c6128b6b"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "0e21c317c6128b6b",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 8",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1800,
        "wires": [
            [
                "5f2772a094a04e84"
            ]
        ]
    },
    {
        "id": "fd969dfbb78f2386",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 2040,
        "wires": [
            [
                "3b23a53de2902d23"
            ]
        ]
    },
    {
        "id": "3b23a53de2902d23",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 31,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor8",
        "x": 1510,
        "y": 2040,
        "wires": []
    },
    {
        "id": "4c7757c66dca3343",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 7,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor3",
        "x": 1510,
        "y": 1540,
        "wires": []
    },
    {
        "id": "91d9ec0e905fbc95",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 15,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor4",
        "x": 1510,
        "y": 1640,
        "wires": []
    },
    {
        "id": "fb669c86bd6b038f",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/temp_data/temp1.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "924d2ffef9b3e549",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 9",
        "func": "var time = new Date()\ntime.setHours(time.getHours() + 2);\nmsg.payload = msg.payload + \",\" + time.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 560,
        "wires": [
            [
                "fb669c86bd6b038f"
            ]
        ]
    },
    {
        "id": "16f6a76f6ac36f82",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/temp_data/temp2.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e1d2df40583e4275",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 10",
        "func": "var time = new Date()\ntime.setHours(time.getHours() + 2);\nmsg.payload = msg.payload + \",\" + time.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 620,
        "wires": [
            [
                "16f6a76f6ac36f82"
            ]
        ]
    },
    {
        "id": "765d0a51ad6f8531",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/temp_data/temp3.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "52330856bfc63815",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 11",
        "func": "var time = new Date()\ntime.setHours(time.getHours() + 2);\nmsg.payload = msg.payload + \",\" + time.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 680,
        "wires": [
            [
                "765d0a51ad6f8531"
            ]
        ]
    },
    {
        "id": "9d3c1c5244b82db4",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/temp_data/temp4.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c3ed45ad4f9e11d1",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 12",
        "func": "var time = new Date()\ntime.setHours(time.getHours() + 2);\nmsg.payload = msg.payload + \",\" + time.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 860,
        "wires": [
            [
                "9d3c1c5244b82db4"
            ]
        ]
    },
    {
        "id": "086c0aae827d9a78",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/temp_data/temp5.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d6bf16e4eecf96b9",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 13",
        "func": "var time = new Date()\ntime.setHours(time.getHours() + 2);\nmsg.payload = msg.payload + \",\" + time.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 920,
        "wires": [
            [
                "086c0aae827d9a78"
            ]
        ]
    },
    {
        "id": "9329323d6c3c9448",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/temp_data/temp6.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 930,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "1be5974d4d6442b9",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 14",
        "func": "var time = new Date()\ntime.setHours(time.getHours() + 2);\nmsg.payload = msg.payload + \",\" + time.toLocaleString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 980,
        "wires": [
            [
                "9329323d6c3c9448"
            ]
        ]
    },
    {
        "id": "c6eb8b973e579a5f",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor7",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 1940,
        "wires": []
    },
    {
        "id": "8eca5d0d6e90fea4",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor7_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1920,
        "wires": [
            [
                "7394740a8ee55375"
            ]
        ]
    },
    {
        "id": "28f02b0a61a274d8",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor7_on",
        "group": "625b5b0878dda344",
        "order": 26,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1900,
        "wires": [
            [
                "c417ce5fda015a99"
            ]
        ]
    },
    {
        "id": "f709633662220566",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 21,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Ahi",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 250,
        "y": 1780,
        "wires": []
    },
    {
        "id": "aa8967055028b42c",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor7_off",
        "group": "625b5b0878dda344",
        "order": 28,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1940,
        "wires": [
            [
                "c6eb8b973e579a5f"
            ]
        ]
    },
    {
        "id": "7394740a8ee55375",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1920,
        "wires": [
            [
                "28f02b0a61a274d8"
            ],
            [
                "aa8967055028b42c"
            ]
        ]
    },
    {
        "id": "c417ce5fda015a99",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 1900,
        "wires": [
            [
                "e70fb55e5ee2b9cf"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "e70fb55e5ee2b9cf",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 15",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1900,
        "wires": [
            [
                "c6eb8b973e579a5f"
            ]
        ]
    },
    {
        "id": "eeb04fdbf9b95239",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor8",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 2040,
        "wires": []
    },
    {
        "id": "f1bfef15226f483a",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor8_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2020,
        "wires": [
            [
                "12bad2f58875f1c6"
            ]
        ]
    },
    {
        "id": "da208c93068288c6",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor8_on",
        "group": "625b5b0878dda344",
        "order": 30,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 2000,
        "wires": [
            [
                "c3d29c54cf2bacb1"
            ]
        ]
    },
    {
        "id": "7bbcba0cd9e837c6",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 29,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Sort vent",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 260,
        "y": 1980,
        "wires": []
    },
    {
        "id": "9727a67f45ec64c8",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor8_off",
        "group": "625b5b0878dda344",
        "order": 32,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 2040,
        "wires": [
            [
                "eeb04fdbf9b95239"
            ]
        ]
    },
    {
        "id": "12bad2f58875f1c6",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 2020,
        "wires": [
            [
                "da208c93068288c6"
            ],
            [
                "9727a67f45ec64c8"
            ]
        ]
    },
    {
        "id": "c3d29c54cf2bacb1",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 2000,
        "wires": [
            [
                "87eaafa7b8b6a0d9"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "87eaafa7b8b6a0d9",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 16",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2000,
        "wires": [
            [
                "eeb04fdbf9b95239"
            ]
        ]
    },
    {
        "id": "1676796667079677",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor9",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 2140,
        "wires": []
    },
    {
        "id": "0544535d5010c0df",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor9_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 2120,
        "wires": [
            [
                "3e37794581a7fe87"
            ]
        ]
    },
    {
        "id": "5c95c1ceb0a2afda",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor9_on",
        "group": "625b5b0878dda344",
        "order": 34,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 2100,
        "wires": [
            [
                "def639966451f23d"
            ]
        ]
    },
    {
        "id": "876dedde2c4f30c7",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 33,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Sorteer",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 260,
        "y": 2080,
        "wires": []
    },
    {
        "id": "13a3e6ac24eca1a2",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor9_off",
        "group": "625b5b0878dda344",
        "order": 36,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 2140,
        "wires": [
            [
                "1676796667079677"
            ]
        ]
    },
    {
        "id": "3e37794581a7fe87",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 2120,
        "wires": [
            [
                "5c95c1ceb0a2afda"
            ],
            [
                "13a3e6ac24eca1a2"
            ]
        ]
    },
    {
        "id": "def639966451f23d",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 2100,
        "wires": [
            [
                "2adb71178ba34289"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "2adb71178ba34289",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 17",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2100,
        "wires": [
            [
                "1676796667079677"
            ]
        ]
    },
    {
        "id": "cd0a01fcfb3f28ac",
        "type": "mqtt out",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor10",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "63f8550c7ccd0388",
        "x": 1000,
        "y": 2240,
        "wires": []
    },
    {
        "id": "86f5a7c42303dbc9",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "mootor10_in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 2220,
        "wires": [
            [
                "2a35f503291684ae"
            ]
        ]
    },
    {
        "id": "7c4d7db2cd144742",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor10_on",
        "group": "625b5b0878dda344",
        "order": 38,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 2200,
        "wires": [
            [
                "c9d62c6e4d2909fc"
            ]
        ]
    },
    {
        "id": "622b44c6d0e444f6",
        "type": "ui_text",
        "z": "4528c99bd34fe9cd",
        "group": "625b5b0878dda344",
        "order": 37,
        "width": "2",
        "height": "1",
        "name": "",
        "label": "Sorteer2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 260,
        "y": 2180,
        "wires": []
    },
    {
        "id": "a865994e124d159e",
        "type": "ui_button",
        "z": "4528c99bd34fe9cd",
        "name": "mootor10_off",
        "group": "625b5b0878dda344",
        "order": 40,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 2240,
        "wires": [
            [
                "cd0a01fcfb3f28ac"
            ]
        ]
    },
    {
        "id": "2a35f503291684ae",
        "type": "switch",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 2220,
        "wires": [
            [
                "7c4d7db2cd144742"
            ],
            [
                "a865994e124d159e"
            ]
        ]
    },
    {
        "id": "c9d62c6e4d2909fc",
        "type": "ui_toast",
        "z": "4528c99bd34fe9cd",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Elevaator3",
        "name": "Elevaator3",
        "x": 650,
        "y": 2200,
        "wires": [
            [
                "5613bc3c66caf80e"
            ]
        ],
        "outputLabels": [
            "true"
        ]
    },
    {
        "id": "5613bc3c66caf80e",
        "type": "function",
        "z": "4528c99bd34fe9cd",
        "name": "function 18",
        "func": "var payload = msg.payload;\nif (payload == \"\") {\n    var msg1 = { payload: \"true\" };\n    return [msg1];\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2200,
        "wires": [
            [
                "cd0a01fcfb3f28ac"
            ]
        ]
    },
    {
        "id": "603eae41415f43a6",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 2140,
        "wires": [
            [
                "b4b208e5ebd7c6c8"
            ]
        ]
    },
    {
        "id": "b4b208e5ebd7c6c8",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 35,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor9",
        "x": 1510,
        "y": 2140,
        "wires": []
    },
    {
        "id": "bf6537887ce16be3",
        "type": "mqtt in",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "topic": "feedback7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63f8550c7ccd0388",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1260,
        "y": 2240,
        "wires": [
            [
                "7e7b7addc8a98c14"
            ]
        ]
    },
    {
        "id": "7e7b7addc8a98c14",
        "type": "ui_led",
        "z": "4528c99bd34fe9cd",
        "order": 39,
        "group": "625b5b0878dda344",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_motor10",
        "x": 1510,
        "y": 2240,
        "wires": []
    },
    {
        "id": "b7a914b1bb85f969",
        "type": "file",
        "z": "4528c99bd34fe9cd",
        "name": "",
        "filename": "/home/pi/debug/log.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "85965edc.72971",
        "type": "ui_template",
        "z": "73e4e13db3ccbdd1",
        "group": "2a745e6b.07df92",
        "name": "Dashboard Theme : Modern Dark",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--surface);\n            border-radius: var(--radius-s);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ],
        "icon": "node-red-dashboard/ui_colour_picker.png",
        "info": "# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"
    }
]